.btn {
    border-style: solid;
    border-width: 3px 0 3px 0;
    text-decoration: none;
    color: $white;
    padding: 7px 0;
    width: 100%;
    font-size: 1.6em;
    transition: all 0.1s ease-in-out;
    @include border-radius(4px);

    @media only screen and (min-width: $tablet-breakpoint){ 
        padding: 7px 55px;
        width: auto;
    }

    &.btn-vm {
        background-color: $blue-demin;
        border-color: transparent transparent #086b9c;

        &:hover {
            background-color: #176bbd;
            border-color: transparent transparent #07628f;
            color: $white;
        }
    }
}