.main {
    background-color: $gray-athens;

    .container {
        &.container-vm {
            margin-top: 64px;
            padding: 30px 0;
            min-height: 400px;

            @media only screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint){ 
                margin-top: 100px;
                padding: 60px 0;
            }
        }
    }
}