@font-face{ 
	font-family: 'opensans-regular';
	src: url('../../../dist/font/open-sans/opensans-regular-webfont.eot');
	src: url('../../../dist/font/open-sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../../../dist/font/open-sans/opensans-regular-webfont.woff') format('woff'),
	     url('../../../dist/font/open-sans/opensans-regular-webfont.ttf') format('truetype'),
	     url('../../../dist/font/open-sans/opensans-regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'opensans-light';
	src: url('../../../dist/font/open-sans/opensans-light-webfont.eot');
	src: url('../../../dist/font/open-sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../../../dist/font/open-sans/opensans-light-webfont.woff') format('woff'),
	     url('../../../dist/font/open-sans/opensans-light-webfont.ttf') format('truetype'),
	     url('../../../dist/font/open-sans/opensans-light-webfont.svg#webfont') format('svg');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../../../dist/font/fontawesome/fontawesome-webfont.eot?v=4.7.0');
  src: url('../../../dist/font/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../../../dist/font/fontawesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../../../dist/font/fontawesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../../../dist/font/fontawesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('.../../../dist/font/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
