$mobile-min-breakpoint: 320px;
$mobile-landscape-breakpoint: 480px;
$mobile-max-breakpoint: 767px;
$tablet-breakpoint: 768px;
$tablet-max-breakpoint: 991px;
$tablet-min-breakpoint: 769px;
$tablet-landscape-breakpoint: 1024px;
$tablet-middle-breakpoint: 840px;
$desktop-breakpoint: 992px;
$large-desktops-breakpoint: 1200px;