// Reference: http://chir.ag/projects/name-that-color/

// White
$white: #fff;

// Blue
$blue-demin: #1A75CE;
$blue-bahama: #086DA6;
$blue-curious: #1497E1;
$blue-steel: #4181A1;

// Orange
$orange-sunglow: #FDBB30;
$orange-buddha: #CD8D06;
$orange-dixie: #E6A316;
$orange-salomie: #FCD88B;
$orange-tango: #f37b20;

// Gray
$gray-silver: #cccccc;
$gray-silver-chalice: #9f9f9f;
$gray-athens: #F4F5F7;
$gray-dove: #707070;
$gray-mercury: #E3E3E3;
$gray-alto: #DDDDDD;
$gray-alto-dark: #999999;
$gray-dusty: #959595;

// Green
$green-forest: #2C9933;