@mixin text-overflow($lines-to-show, $font-size, $line-height) {
  display: block;
  display: -webkit-box;
  height: $font-size * $line-height * $lines-to-show;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}