.box {
    border: 1px solid $gray-alto;
    background-color: $white; 
    @include border-radius(3px);

    &.box-data-user {
        font-family: 'opensans-light';
        padding: 2.2em 3em 3em 3em;

        @media only screen and (min-width: $tablet-breakpoint){ 
            padding: 4.2em 5em 5em 5em;
        }

        .box-label {
            color: $gray-dove;
            margin-bottom: 10px;
            font-size: 1.6em;
        }

        .box-data {
            color: $gray-alto-dark;
            font-size: 1.6em;
        }

        .box-data-user-item {
            margin-bottom: 30px;
        }
    }

    &.box-small {
        padding: 2.5em;
        height: 195px;
        margin-bottom: 10px;

        .box-small-title {
            display: block;
            color: $gray-dove;
            margin-bottom: 10px;
            @include text-overflow(1, 18px, 2);

            @media only screen and (min-width: $tablet-breakpoint){ 
                @include text-overflow(1, 20px, 2);
            }
        }

        .box-small-list {
            li {
                display: block;
                font-size: 1.2em;
                margin-bottom: 5px;
                color: $gray-alto-dark;

                @media only screen and (min-width: $tablet-breakpoint){ 
                    font-size: 1.4em;
                }
            }
        }

    }

    &.box-medium {
        margin-bottom: 10px;
        padding: 2em;

        @media only screen and (min-width: $tablet-breakpoint){ 
            padding: 3em;
        }

        img {
            display: block;
            margin: 0 auto;

            @media only screen and (min-width: $tablet-breakpoint){ 
                margin: none;
            }
        }
        
        .box-medium-title { 
            font-size: 1.4em;
            font-family: 'opensans-light';
            padding-bottom: 10px;
            margin-bottom: 10px;
            font-weight: normal;
            color: $gray-dusty;
            border-bottom: 1px solid $gray-dusty;
        }

        .box-medium-block {
            overflow: hidden;
            margin-bottom: 25px;

            @media only screen and (min-width: $tablet-breakpoint){ 
                overflow: inherit;
                margin-bottom: 0;
            }
        }

        .box-mediu-text {
            font-size: 1.6em;
            font-family: 'opensans-light';               
            color: $gray-dove;
            height: auto;

            @media only screen and (min-width: $tablet-breakpoint){ 
                height: 90px;
            }

            p, span {
                @media only screen and (min-width: $tablet-breakpoint){ 
                    position: relative;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }

            &.box-mediu-text-center{
                text-align: left;
                @media only screen and (min-width: $tablet-breakpoint){ 
                    text-align: center;
                }
            }
        }
    }

    .button-area {
        padding-top: 15px;

        @media only screen and (min-width: $tablet-breakpoint){ 
            padding-top: 30px;
        }
    }
}