.footer {
    padding: 25px 0;

    .footer-logo {
        img {
            display: block;
            height: 20px;
            margin: 0 auto;
        }
    }

    .footer-text {
        text-align: center;
        color: $gray-silver-chalice;
        font-size: 1.2em;
    }

    .link-social {
        overflow: hidden;
        width: 280px;
        margin: 20px auto 30px auto;

        li {
            display: block;
            float: left;
            margin: 0 8px;
            
            a {
                display: block;
                text-align: center;
                padding-top: 10px;
                width: 40px;
                height: 40px;
                border: 1px solid $blue-demin;
                @include border-radius(50%);

                i {
                    color: $blue-demin;
                    font-size: 2.0em;
                }

                &:hover {
                    border: 1px solid $orange-tango;

                    i {
                        color: $orange-tango;
                    }
                }
            }
        }
    }

    .list-country {
        overflow: hidden;
        width: 682px;
        margin: 0 auto 38px auto; 

        li {
            display: block;
            float: left;
            font-size: 1.4em;

            &:after {
                content: "|";
                margin-left: 12px;
                margin-right: 12px;
                color: $gray-silver;
            }

            &:last-child {
                &:after {
                    content: "";
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            a {
                text-decoration: none;
                color: $blue-demin;

                &:hover {
                    color: $orange-tango;
                }
            }
        }
    }
}