.header {
    background-color: $blue-demin;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    border-bottom: 2px solid $orange-sunglow;
    height: 64px;

    @media only screen and (min-width: $tablet-breakpoint){ 
        height: auto;
    }

    .logo {
        padding: 12px 0 15px 0;

        @media only screen and (min-width: $tablet-breakpoint){ 
             padding: 8px 0 14px 0;
        }

        img {
            @media only screen and (min-width: $tablet-breakpoint){ 
                height: 40px; 
            } 
        }
    }

    .search-bar {
        padding: 12px 0 15px 0;
        border-right: 1px solid $blue-bahama;
        overflow: hidden;

        .search-bar-help {
            margin-top: 5px;

            a {
                cursor: pointer;
                text-decoration: none;
                color: $white;
                font-size: 1.6em;
                font-family: 'opensans-light';

                i {
                    margin-right: 6px;
                    font-size: 1.5em;
                    vertical-align: text-bottom;
                }

                &:hover {
                    color: $orange-sunglow;
                }
            }
        }

        .search-bar-input {
            .input {
                float: left;
                width: 84%;
                height: 35px;
                color: $gray-silver;
                font-family: 'opensans-light';
                font-size: 1.6em;
                padding: 15px;
                border-top: 1px solid $gray-silver;
                border-right: 0;
                border-bottom: 1px solid $gray-silver;
                border-left: 1px solid $gray-silver;
                @include border-radius(3px 0 0 3px);
            }

            .icon-search {
                float: left;
                display: block;
                text-decoration: none;
                background: $white;
                font-size: 2em;
                width: 30px;
                height: 35px;
                padding-top: 5px;
                padding-bottom: 5px;
                border-top: 1px solid $gray-silver;
                border-right: 1px solid $gray-silver;
                border-bottom: 1px solid $gray-silver;
                border-left: 0;
                @include border-radius(0 3px 3px 0);
            }   
        }

    }

    .link-area-user,
    .link-area-heart,
    .link-area-cart {
        cursor: pointer;
        height: 62px;
        padding: 14px 0;
        display: block;
        text-decoration: none;
        text-align: center;
        @media only screen and (min-width: $tablet-breakpoint){ 
            padding: 10px 0;
        }
    }

    .link-area-user {
        background-color: $blue-demin;
        border: 0;

        .profile-img {
            overflow: hidden;
            width: 31px;
            height: 31px;
            margin: 0 auto;
            background: $gray-dove;
            border: 3px solid $white;
            @include border-radius(50%);

            @media only screen and (min-width: $tablet-breakpoint){ 
                width: 41px;
                height: 41px;
                background: url('https://graph.facebook.com/1253130238063497/picture?width=41&height=41') center center;
            }
        }

        @media only screen and (min-width: $tablet-breakpoint){ 
            border-left: 1px solid $blue-curious;
            border-right: 1px solid $blue-bahama;
            border-bottom: 3px solid $blue-bahama;
        }
        
        &:hover {
            background-color: $blue-bahama;
            border-left: 1px solid $blue-bahama;
            border-right: 1px solid $blue-bahama;
        }
    }

    .link-area-heart {
        border: 0;

        @media only screen and (min-width: $tablet-breakpoint){ 
            border-left: 1px solid $blue-curious;
            border-right: 1px solid $blue-bahama;
        }

        i {
            display: block;
            color: $white;
            font-size: 3.1em;

            @media only screen and (min-width: $tablet-breakpoint){ 
                font-size: 3.8em;
            }
        }
    }

    .link-area-cart {
        background: $blue-demin;
        border: 0;

        @media only screen and (min-width: $tablet-breakpoint){ 
            border-bottom: 3px solid $orange-buddha;
            border-right: 1px solid $orange-dixie;
            border-left: 1px solid $orange-salomie;
            background: $orange-sunglow;
        }

        i {
            display: block;
            color: $white;
            font-size: 3.1em;

            @media only screen and (min-width: $tablet-breakpoint){ 
                font-size: 3.4em;
            }
        }

        &:hover {
            background: $orange-dixie;
            border-bottom: 3px solid $orange-dixie;
            border-right: 1px solid $orange-dixie;
            border-left: 1px solid $orange-dixie;
        }
    }
}