.title-area {
    color: $gray-dove;
    font-family: 'opensans-light';
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $gray-alto;

    @media only screen and (min-width: $tablet-breakpoint){ 
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .title {
        font-size: 2.2em;

        @media only screen and (min-width: $tablet-breakpoint){ 
            font-size: 3.2em;
        }

        i {
            margin-right: 10px;

            @media only screen and (min-width: $tablet-breakpoint){ 
                margin-right: 18px;
            }
        }

        span {
            vertical-align: bottom;
        }
    }

    .description {
        margin-top: 10px;
        font-size: 0.6em;

        @media only screen and (min-width: $tablet-breakpoint){ 
            font-size: 0.5em;
        }
    }
}