.user-navigation {

    .user-navigation-profile {
        margin-bottom: 10px;
        img {
            height: 80px;
            margin: 0 auto;
            border: 2px solid $white;
            @include border-radius(50%);

            @media only screen and (min-width: $tablet-breakpoint){ 
                height: auto;
                margin: none;
            }
        }
    }

    .user-navigation-greetings {
        margin-bottom: 15px;
        text-align: center;

        @media only screen and (min-width: $tablet-breakpoint){ 
            margin-bottom: 30px;
            text-align: left;
        }

        span {
            display: block;
            color: $gray-dove;
            
            &:first-child {
                font-size: 1.5em;
                margin-bottom: 0;

                @media only screen and (min-width: $tablet-breakpoint){ 
                     font-size: 2.0em;
                     margin-bottom: 10px;
                 }
            }
            &:last-child {
                @include text-overflow(1, 16px, 2);

                @media only screen and (min-width: $tablet-breakpoint){ 
                     font-size: 3.0em;
                     @include text-overflow(1, 30px, 2);
                }
            }
        }
    }

    .user-navigation-options {
         margin-bottom: 50px;

        @media only screen and (min-width: $tablet-breakpoint){ 
            margin-bottom: 0;
        }

        ul {
            li {
                a {
                    position: relative;
                    text-decoration: none;
                    overflow: hidden;
                    color: $blue-demin;
                    display: block;
                    padding: 17px 0 14px 67px;
                    border-top: 1px solid $gray-mercury;

                    .box-icon {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 57px;
                        height: 47px;
                        text-align: center;
                        padding-top: 15px;

                        i {
                            font-size: 2.0em;
                        }
                    }

                    span {
                        font-family: 'opensans-light';
                        font-size: 1.5em;
                    }

                    &:hover, &.active {
                        span {
                            color: $orange-tango;
                        }
                        .box-icon {
                            width: 53px;
                            &.box-icon-account {
                                border-left: 4px solid $orange-tango;
                            }
                            &.box-icon-purchase {
                                border-left: 4px solid $blue-steel;
                            }
                            &.box-icon-addresses {
                                border-left: 4px solid $green-forest;
                            }
                        }
                    }

                }

                &:last-child {
                    a {
                        border-bottom: 1px solid $gray-mercury;
                    }
                }
            }
        }
    }
}