<div ng-include src="'view/title-area.html'"></div>

<div ng-controller="accountCtrl">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-data-user">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="box-data-user-item">
                            <label class="box-label">Nome</label>
                            <p class="box-data">{{usuario.nome}}</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="box-data-user-item">
                            <label class="box-label">Telefone principal</label>
                            <p class="box-data">{{usuario.telefone}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="box-data-user-item">
                            <label class="box-label">CPF</label>
                            <p class="box-data">{{usuario.cpf}}</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="box-data-user-item">
                            <label class="box-label">E-mail</label>
                            <p class="box-data">{{usuario.email}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="box-data-user-item">
                            <label class="box-label">Sexo</label>
                            <p class="box-data">{{usuario.sexo}}</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="box-data-user-item">
                            <label class="box-label">Senha</label>
                            <p class="box-data">*************</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-sm-offset-3 col-md-4 col-md-offset-4">
                        <div class="button-area">
                            <button class="btn btn-vm">Editar meus dados</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>