<div ng-include src="'view/title-area.html'"></div>

<div ng-controller="addressesCtrl">    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4" ng-repeat="address in addresses">
            <div class="box box-small">
                <span class="box-small-title">{{address.receiver}}</span>
                <ul class="box-small-list">
                    <li>{{address.street}}</li>
                    <li>{{address.complement}}</li>
                    <li>{{address.district}}</li>
                    <li>{{address.zipCode}}</li>
                    <li>{{address.city}}, {{address.state}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>