<!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <figure class="footer-logo">
                        <img src="dist/img/walmart.com.png" alt="walmart.com">
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="link-social">
                        <li>
                            <a href="" title="Facebook">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" title="Twitter">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" title="Google +">
                               <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" title="Instagram">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" title="Youtube">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row hidden-xs">
                <div class="col-xs-12">
                    <ul class="list-country">
                        <li><a href="" title="Argentina">Argentina</a></li>
                        <li><a href="" title="Canada">Canada</a></li>
                        <li><a href="" title="Chile">Chile</a></li>
                        <li><a href="" title="Argentina">China</a></li>
                        <li><a href="" title="China">Japan</a></li>
                        <li><a href="" title="Mexico">Mexico</a></li>
                        <li><a href="" title="United Kingdom">United Kingdom</a></li>                
                        <li><a href="" title="United States">United States</a></li>           
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="footer-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero quidem quibusdam, enim, voluptatibus nesciunt ab dolor eum repudiandae, ex eveniet praesentium ut adipisci deleniti quo similique! Eaque quia sapiente cum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero quidem quibusdam, enim, voluptatibus nesciunt ab dolor eum repudiandae.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->