    <!-- header -->
    <header class="header">
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="logo">
                    <a href="#" title="Walmart"><img src="dist/img/walmart.png" class="img-responsive" alt="Walmart"></a>
                </div>
            </div>
            <div class="col-md-7 col-sm-8 col-xs-12 hidden-xs">
                <div class="row">
                    <div class="search-bar">
                        <div class="col-md-2 col-sm-3 col-xs-2">
                            <div class="search-bar-help">
                                <a href="" title="Ajuda">
                                    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                                    <span class="hidden-xs">Ajuda</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9 col-xs-10">
                            <div class="search-bar-input">
                                <input type="text" class="input">
                                <a class="icon-search" href="#" title="Buscar">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-6">
                <div class="row">
                    <div class="link-area">
                        <div class="col-sm-4 col-xs-4 no-padding">
                            <a href="#" class="link-area-user">
                                <figure class="profile-img"></figure>
                            </a>
                        </div>
                        <div class="col-sm-4 col-xs-4 no-padding">
                            <a href="#" class="link-area-heart">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col-sm-4 col-xs-4 no-padding">
                            <a href="#" class="link-area-cart">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </header>
    <!-- end header -->