<div ng-include src="'view/title-area.html'"></div>

<div ng-controller="purchaseCtrl">
    <div class="row" ng-repeat="purchase in userPurchase">
        <div class="col-xs-12">
            <div class="box box-medium">
                <div class="row">
                    <div class="box-medium-block">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="box-medium-title">Produto</div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <img src="{{purchase.image}}" class="img-responsive" height="90" alt="{{purchase.name}}">
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-8">
                                    <div class="box-mediu-text">
                                        <p>{{purchase.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-medium-block">
                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <div class="box-medium-title">Preço</div>
                            <div class="box-mediu-text">
                                <span>{{purchase.price | currency:"R$"}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="box-medium-block">
                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <div class="box-medium-title">Quantidade</div>
                            <div class="box-mediu-text box-mediu-text-center">
                                <span class="">{{purchase.amount}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="box-medium-block">
                        <div class="col-xs-12 col-sm-12 col-md-2">
                            <div class="box-medium-title">Subtotal</div>
                            <div class="box-mediu-text">
                                <span>{{purchase.total | currency:"R$"}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>