<div class="title-area {{infoTitle.class}}" ng-controller="titleAreaCtrl">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="title">
                <i class="{{infoTitle.icon}}" aria-hidden="true"></i>
                <span>{{infoTitle.title}}</span>
                <p class="description">{{infoTitle.description}}</p>
            </h1>
        </div>
    </div>
</div>