<aside class="user-navigation" ng-controller="userNavigationCtrl">
    <div class="col-xs-12 col-sm-3">
        <figure class="user-navigation-profile">
            <img src="https://graph.facebook.com/1253130238063497/picture?width=170&height=170" class="img-responsive" alt="Felipe Rodrigues de Oliveira">
        </figure>
        <div class="user-navigation-greetings">
            <span>Olá,</span>
            <span>{{usuario.nome}}</span>
        </div>
        <nav class="user-navigation-options">
            <ul>
                <li ng-repeat="item in items" class="{{'theme-'+item.name}}">
                    <a href="{{'#!/'+item.name}}" title="{{item.title}}" class="{{'theme-'+item.name}}" ng-class="{'active': item.id == states.activeItem}" ng-click="states.activeItem=item.id">
                        <div class="{{'box-icon box-icon-'+item.name}}"><i class="{{'fa fa-'+item.name}}"></i></div>
                        <span>{{item.title}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>